
<meta charset = "utf-8">

<style>
.container{

	margin-left:350px;
	padding:100px;
	font-weight:400;
	text-align:center;
	margin-bottom: 50px;
}

#about_img:hover {
    width: 60%;
    margin: auto;
    display: block;
}

</style>




<div class="container">
<div class="col-sm-5">
  <h4>About Us</h4>
  
  <p id = "headline">
    충격적일 정도로 매혹적인 이 향수들과 함께 모험을 떠나세요.
  </p>
  
  <div>
  <img  id="about_img" src="img/goutal/goutal1.jpg" style="text-align:center;">
  </div>

  
  <p id = "company">
     "준비가 되었습니까?"
  </p>
  
  <img src="img/shoplogo2.png">
  
  <p id = "headline" style="line-height: 2.5; font-weight:500;">
     Étoile Beauté. 각각 프랑스어로 "별", "아름다움"이라는 뜻을 가지고 있습니다.
     우리는 향수를 사용함으로써 당신이 가진 본연의 아름다움을 별처럼 반짝반짝 빛나게 하려고 합니다. 
     저희 회사와 함께 행복한 구매 되시길 기원합니다. 
     오늘도 이용해 주셔서 감사합니다. Je vous souhaite bonne chance!
  </p>
  
</div>
</div>






