<meta charset = "utf-8">



<span style = " font-size:3.5em;  color: black;"></span>




<script>
var lat = 37.56014367008594;
var lng = 126.98071970839374;
var map;

function display(){
	var mapContainer = document.querySelector('#map'); 
	var mapOption = { 
	        center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
	        level: 4 // 지도의 확대 레벨
	    };
	map = new kakao.maps.Map(mapContainer, mapOption); 
};



function displaymarker(){
	var imageSrc = "/img/mk.png";  //어떤 이미지를 올릴 것인가?
    var imageSize = new kakao.maps.Size(24, 35);    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);   //이미지 사이즈 조정 및 bla bla 
	
	  //for 문 빼고 lat이랑 데이터 lng넣어보기
		 var marker = new kakao.maps.Marker({  //여기다가 이미지를 집어넣자
	        map: map,
	        position: new kakao.maps.LatLng(37.56014367008594, 126.98071970839374),
		 });
		 
		 /* var iwContent = '<h3>'+data[i].title+'</h3>';
		 iwContent += '<img width = "50px" src = "/img/'+data[i].img+'">'; */
	     var iwPosition = new kakao.maps.LatLng(37.56014367008594, 126.98071970839374);

		 var infowindow = new kakao.maps.InfoWindow({
		     position : iwPosition, 
		     content : iwContent
		 });
		 kakao.maps.event.addListener(marker, 'mouseover', mouseoverListener(marker, infowindow));
		 kakao.maps.event.addListener(marker, 'mouseout', mouseoutListener(marker, infowindow));
		/*  kakao.maps.event.addListener(marker, 'click', mouseclickListener(data[i].target)); */
	
	function mouseoverListener(marker, infowindow) {
		return function(){
			infowindow.open(map, marker);
		};
	}
	function mouseoutListener(marker, infowindow) {
		return function(){
			infowindow.close();
		};
	}
	function mouseclickListener(target) {
	  	return function(){
	  		location.href = target;
	  	};
	}
}

function getdata(loc){
	$.ajax({
		url : '/getmarker',
		data : {'loc' : loc},
		success : function(data){
			displaymarker(data);
		}
	});
};

function go(lat,lng,loc){  //위도 경도 지역명
	var moveLatLon = new kakao.maps.LatLng(lat,lng);
    map.panTo(moveLatLon);      /* 지도가 이동했으면 데이터를 가져와야됨 */ 
    getdata(loc);                 //marker information request
};

$(document).ready(function(){
	display();
	displaymarker();
	
});
</script>

<div class="container">
<div class="col-sm-5">
  <h4 style="font-size:40px; font-weight:bold; text-align:center;">About Us</h4>
  
  <p id = "headline">
    충격적일 정도로 매혹적인 이 향수들과 함께 모험을 떠나세요.
  </p>
  
  <div>
  <img  id="about_img" src="img/goutal/goutal1.jpg" style="text-align:center;">
  </div>

  
  <p id = "company">
     "준비가 되었습니까?"
  </p>
  
  <img src="img/shoplogo2.png">
  
  <p id = "headline" style="line-height: 2.5; font-weight:500;">
     Étoile Beauté. 각각 프랑스어로 "별", "아름다움"이라는 뜻을 가지고 있습니다.
     우리는 향수를 사용함으로써 당신이 가진 본연의 아름다움을 별처럼 반짝반짝 빛나게 하려고 합니다. 
     저희 회사와 함께 행복한 구매 되시길 기원합니다. 
     오늘도 이용해 주셔서 감사합니다.
  </p>
  <h4 style ="font-weight:bold; color:black";>Je vous souhaite bonne chance!</h4>
  
  
  <button type="button" font-weight:500; class="btn btn-default">Étoile Beauté</button>
  <div id="map"></div> 
  
</div>
</div>






