<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd162e5636d02b26958221c4c2106850"></script>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>	Étoile Beauté - Perfume&Fragnace Shop | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
   


    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

<script>

function printTime() {
              var clock = document.getElementById("clock");            
              var now = new Date(); // 현재시간
              var nowTime = 
			now.getFullYear() + "년" + (now.getMonth()+1) + "월" + 
			now.getDate() + "일" + now.getHours() + "시" + 
			now.getMinutes() + "분" + now.getSeconds() + "초";
              clock.innerHTML = nowTime; // 현재시간을 출력
              setTimeout("printTime()",1000);// setTimeout(“실행할함수”,시간) 시간은1초의 경우 1000
	}
	window.onload = function() { // 페이지가 로딩되면 실행
	              printTime();
	};
 function getCartCnt(test){
	$.ajax({
		url:'/cartcnt?custid='+test,
		success:function(data){
			$('#cart_cnt').text(data);
		}
	});
};
function getCouponCnt(coupon){
	$.ajax({
		url:'/couponcnt?custid='+coupon,
		success:function(data){
			$('#coupon_cnt').text(data);
		}
	});
};
$(document).ready(function(){
	var test= $('#test').text();
	var coupon = $('#coupon').text();
		if(test != null){
		 
			getCartCnt(test);
			getCouponCnt(coupon);
			
		}	
	
});
</script>
</head>
<body>
    <!-- Search Wrapper Area Start -->
 
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="/"><img src="img/shoplogo2.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>
        

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="/"><img src="img/shoplogo2.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a>
                    <li><a href="/shop">Shop</a></li>
                    
                    	<ul th:if="${session.logincust != null}">
                    	<li><a th:href="@{/orderview(custid=${session.logincust.custid})}">Order</a></li>  
                    	</ul>
                    <li><a href="">Ranking</a></li>
                    <li><a href="">Seen</a></li>
                </ul>
            </nav>
            <!-- Button Group --><!--로그인 하지 않았을때  -->
            <div class="amado-btn-group mt-30 mb-100" th:if="${session.logincust == null}">
                <a href="/login" class="btn amado-btn mb-15">Login</a>
            </div>
            <!-- Button Group --><!--로그인 성공시  -->
            <div class="amado-btn-group mt-30 mb-100" th:if="${session.logincust != null}">
                <a href="/logout" class="btn amado-btn mb-15">Logout</a>   
            </div>
            <div class="amado-btn-group mt-30 mb-100" th:if="${session.logincust != null}">
            	<p style="text-align:center;">😀😀😀</p>
            	<h6  th:text="${session.logincust.name}+ '님 환영합니다'"
            	 style= "font-size:15px; text-align: center; 
            	 "> </h6><div id="test" th:text="${session.logincust.custid}" style="display:none;"></div>
            	 <div id="coupon" th:text="${session.logincust.custid}" style="display:none;"></div>
            	<div id="user_info">
            		<table class="table table-hover">
					    <thead>
					    </thead>
					    <tbody>
					      <tr>
					        <td colspan="2"> 💶COUPON :</td>
					      	<td id="coupon_cnt">	</td>
					      </tr>  
					      <tr>
					        <td colspan="1">⏰현재시간</td>
					        <td id="clock"></td>
					      </tr>
					      <tr>
					      
					        <td colspan="2"><a th:href="@{/cart(custid=${session.logincust.custid})}">🚀장바구니 :</a></td>
					        <td id="cart_cnt"></td>
					        
					      </tr>
					    </tbody>
					  </table>
            	</div>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="#" class="fav-nav"><img src="img/core-img/favorites.png" alt=""> Favorite</a>
                <a href="#" class="search-nav"><img src="img/core-img/search.png" alt=""> Search</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix" th:insert="${center} ? ${center} : maincenter"> 
            
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
   
    <!-- ##### Footer Area End ##### -->

    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
 <script src="/js/active.js"></script>

  <!-- Trigger the modal with a button -->
  

  <!-- Modal -->



</body>

</html>