<meta charset="utf-8">

<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container{

	padding:60px;
	margin:60px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
    font-size: 12px;
    height: 55px
}


#title_text{
	padding-top:10px;
	font-family: 'Nanum Gothic', sans-serif;
    background-color:none;
}
</style>






<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5"> <strong>잠시만요!</strong></h2>
        <div class="text-center mb-5 text-dark"></div>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5">

            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              <div class="alert alert-warning">
  						<strong>비밀번호가 틀렸네요.</strong> 비밀번호를 다시 확인해주세요!
			</div>
            </div>
            
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100"><a th:href="@{/login}" class="btn btn-color px-5">다시 로그인하기</a></button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">회원가입이 아직이신가요? <a th:href="@{/register}" class="text-dark fw-bold">계정을 만들어보세요!</a>
                <div class="text-dark fw-bold">
                 <span>KaKao Login:</span>
            <a  id="kakaologin" href="javascript:kakaologin()"><img th:src="@{img/kakao_login.png}" alt="카카오계정 로그인" id="kakao_img"/></a>
            	</div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

 
 