<div class="amado-pro-catagory clearfix">
    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/byredo-blanche.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>From $230</p>
                <h4>BYREDO-Blanche</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/Byredo-background.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/rinsefree-ronml.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>From $120</p>
                <h4>BYREDO-RinseFree HandCream</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/tam-dao1.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>From $215</p>
                <h4>DIPTYQUE-TAM DAO</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/DIQ.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/fleur-de-peau.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>From $210</p>
                <h4>DIPTYQUE-Fluer-de-Peau</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/CREED.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>From $368</p>
                <h4>CREED-Aventus</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/silver.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>From $370</p>
                <h4>CREED-Silver Mountain</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/creed-background.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            </div>
        </a>
    </div>
</div>