<div class="amado-pro-catagory clearfix">
    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a th:href="@{/product_details(itemid=12)}">
            <img src="img/jomalone/jomalone_peo.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>$210</p>
                <h4>Jomalone-Peony&Blush Suede</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="/per_jomalone">
            <img src="img/jomalone/jomalone_center1.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a th:href="@{/product_details(itemid=10)}">
            <img src="img/jomalone/jomalone_eng.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>$230</p>
                <h4>Jomalone-English Pear&Fresia</h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a th:href="@{/product_details(itemid=38)}">
            <img src="img/santa/san_body_po.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>$180</p>
                <h4>SantamariaNovella-Pot Pourri </h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a th:href="@{/product_details(itemid=24)}">
            <img src="img/santa/santa_fresia.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>$210</p>
                <h4>SantamariaNovella-Fresia </h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="/per_santa">
            <img src="img/santa/santa7.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a th:href="@{/product_details(itemid=22)}">
            <img src="img/maison/mm_whisper.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>$210</p>
                <h4>MaisonMargiela-Whisper </h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="/per_maison">
            <img src="img/maison/maison_background.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a th:href="@{/product_details(itemid=20)}">
            <img src="img/maison/mm_spring.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            	<p>$210</p>
                <h4>MaisonMargiela-Spring </h4>
            
            </div>
        </a>
    </div>
</div>