<div class="amado-pro-catagory clearfix">
    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/jomalone/jomalone_peo.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/jomalone/jomalone_center1.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/jomalone/jomalone_eng.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/santa/san_body_po.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/santa/santa_fresia.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/santa/santa7.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/maison/mm_whisper.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/maison/maison_background.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p></p>
                <h4></h4>
            </div>
        </a>
    </div>

    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="img/maison/mm_spring.jpg" alt="">
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
            </div>
        </a>
    </div>
</div>