<meta charset="utf-8">

<style>

</style>
<script>
$(document).ready(function(){
	$('#paybtn').click(function(){
		var custid = $('#custid').text();
		location.href="[[@{/ordermaster?custid=}]]"+custid;
	});
	 
});

</script>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img th:src="@{img/core-img/search.png}" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper">
    <div class="cart-table-area">
        <div>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="cart-title mt-50">
                        <h2>Pay</h2>
                        <div id="custid" th:text="${custid}"></div>
                    </div>

   						
   						<div class="cart-table clearfix">
                        <table id="cart_table" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ItemName</th>
                                    <th>Quantity </th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="li:${list}">
                                    <td class="cart_product_img">
                                        <a th:href="@{#}"><img th:src="@{|img/all/${li.itemimg}|}" alt="Product" id="img" width="100px"></a>
                                    </td>
                                    <td class="cart_product_desc" th:text="${li.itemname}" id="itemname"></td>
                                    <td class="qty" th:text="${li.cnt}" id="cnt"></td>
                                    <td class="price" th:text="${li.itemprice}" id="order_price"></td>
                                </tr>
                             </tbody>
                         </table>
                         </div>
   						  
   						<form id="pay_form">
						<div class="input-group mb-3">
						  <span class="input-group-text" id="basic-addon1">받는 분</span>
						  <input th:value="${cust.name}" readonly="readonly" type="text" class="form-control" placeholder="" aria-label="custname" aria-describedby="basic-addon1" id="custname" name="custname">
						 </div>
						 <div class="input-group mb-3">
						  <span class="input-group-text" id="basic-addon1">연락처</span>
						  <input th:value="${cust.phone}" readonly="readonly" type="text" class="form-control" aria-label="phone" aria-describedby="basic-addon1" id="phone" name="phone">
						</div>
						<div class="input-group mb-3">
						  <span class="input-group-text" id="basic-addon1">주소</span>
						  <input th:value="${post.addr}" readonly="readonly" class="form-control" aria-label="addr" aria-describedby="basic-addon1" id="addr" name="addr">
						  <span class="input-group-text" id="basic-addon1">우편번호</span>
						  <input th:value="${post.zipcode}" readonly="readonly" class="form-control" aria-label="zipcode" aria-describedby="basic-addon1" id="zipcode" name="zipcode">
						</div>
						<div class="input-group mb-3">
						  <span class="input-group-text" id="basic-addon1">상세주소</span>
						  <input th:value="${post.detail_addr}" readonly="readonly" type="text" class="form-control" aria-label="detail_addr" aria-describedby="basic-addon1" id="detail_addr" name="detail_addr">
						</div>
						
						<div class="input-group mb-3">
						  <label class="input-group-text" for="inputGroupSelect01">결제 방법</label>
						  <select id="pay_op" class="form-select">
						    <option selected>결제 방법을 선택하세요</option>
						    <option value="1">카드결제</option>
						    <option value="2">무통장입금</option>
						    <option value="3">계좌이체</option>
						  </select>
						</div>
						
                    </form>
                
                    	<button id="paybtn" type="button" class="btn btn-default">결제하기</button>
                        
                </div>
            </div>
        </div>
    </div>
</div>
</html>
