<meta charset="utf-8">

<script>

$(document).ready(function(){
	
	$('#questbtn').click(function(){
		var itemid=$('#itemid').text();
		var custid=$('#custid').text();
		location.href="[[@{/writequest?itemid=}]]"+itemid+"[[@{&custid=}]]"+custid;
	});
	
});

</script>
<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img th:src="@{img/core-img/search.png}" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper clearfix">
    <div class="cart-table-area section-padding-10">
        <div>
            <div class="row">
                <div class="col-12 col-lg-11">
                    <div class="cart-title mt-50">
                        <h2>Quest List</h2>
                        <div id="itemid" th:text="${itemid}" style="display:none"></div>
                        <div id="custid" th:text="${custid}" style="display:none"></div>
                    </div>

                    <div class="cart-table clearfix">
                        <table id="quest_table" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>작성자</th>
                                    <th>제목</th>
                                    <th>질문 등록일</th>
                                    <th>답변 여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="i:${list}">
                                    <td class="cart_product_desc">
                                        <h5 th:text="${i.custid}">White Modern Chair</h5>
                                    </td>
                                    <td><a id="quest" href="#" th:onclick="check([[${i.questid}]]);" th:text="${i.title}">id</a></td>
                                    <td th:text="${i.rdate}"></td>
                                    <td><a th:href="@{/answer(questid=${i.questid})}">답변</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${session.logincust != null}">
                    	<button id="questbtn" type="button" class="btn btn-default">질문 작성하기</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
