<meta charset="utf-8">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<body class="ranking_body">
<section class="ftco-section bg-light" style="padding-top: 10px;
    margin-top: 80px;">
    <div class="container" style="margin-right:60px;margin-top:10px;padding-top:30px;
    margin-left: 50px;">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h2>&#128202;TOP 3 Ranking!&#128202;</h2>
            </div>
        </div>
        <div th:each="li:${list}">
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img_box"><img class="img" th:src="@{img/all/}+${li.img}"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block" th:text="${li.name}"></span>
                        <span class="price"><sup>&#127775; </sup> <span class="number" th:text="|${li.rank_colname}위|"></span> <sub></sub></span>
                        <div class="pricing-text mb-5">
                           <h3 th:text="|&#128181;${li.price}|"> </h3>
                        <div>
                        <a th:href="@{/product_details(itemid=${li.itemid})}" class="btn btn-primary d-block px-2 py-3">상품정보 보러가기</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img" th:src="'img/all/'+${li.img}"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block" th:text="${li.name}">Business</span>
                        <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mos</sub></span>
                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                    </div>
                </div>
            </div> -->
           <!--  <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img" th:src="'img/all/'+${li.img}"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block" th:text="${li.name}">Ultimate</span>
                        <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mos</sub></span>
                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
</body>