<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h2>&#128202;TOP 3 Ranking!&#128202;</h2>
            </div>
        </div>
        <div class="row" th:each="li:${list}">
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img" th:src="'img/all/'+${li.img}"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block" th:text="${li.name}">Personal</span>
                        <span class="price"><sup>&#8361; </sup> <span class="number" th:text="${li.price}">49</span> <sub>/mos</sub></span>
                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>
                        <a th:href="@{/product_details(itemid=${li.itemid})}" class="btn btn-primary d-block px-2 py-3">Buy Now</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img" th:src="'img/all/'+${li.img}"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block" th:text="${li.name}">Business</span>
                        <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mos</sub></span>
                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                    </div>
                </div>
            </div> -->
           <!--  <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img" th:src="'img/all/'+${li.img}"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block" th:text="${li.name}">Ultimate</span>
                        <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mos</sub></span>
                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
