
<script>
$(document).ready(function(){
	$('#register_form > button').click(function(){
		alert("check");
		$('#register_form').attr({
			'action':'/registerimpl',
			'method':'post'
		});
		$('#register_form').submit();
	});
	
	$('#pwd2').keyup(function(){
		var pwd = $('#pwd').val();
		var pwd2 = $('#pwd2').val();
		if(pwd == pwd2){
			$('#pspan').text('Correct');
		}else{
			$('#pspan').text('Incorrect');
		}
	});
	
	$('#id').keyup(function(){
		var id = $(this).val();
		$.ajax({
			url:'/checkid',
			data:{'cid':id},
			success:function(result){
				if(result == 't'){
					$('#ispan').text('Available');
				}else{
					$('#ispan').text('Not Available');
				}
			}
		});
		
	});
});
</script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Google Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="registration-form">
    <h2 style="font-size:25px; font-weight:bold; text-align:center;">"Bienvenue à tous!!"</h2>
        <form id="register_form">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" id="id" placeholder="Enter ID" name="custid">
            </div>
            <div class="form-group">
               <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd2" placeholder="Authenticate your passwords">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="John Doe" name="name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="addr" placeholder="Enter the address" name="addr">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="johndoe@xxxx.com" name="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="Fill out the number" name="phone">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="birth" placeholder="YYYY-MM-DD" name="birth">
            </div>
            
            <button type="button" class="btn btn-block create-account">Create Account</button>
            
        </form>
        <div class="social-media">
            <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>







