<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script>
$(document).ready(function(){
	/* perfumes_form */
	$('#aesop_btn').click(function(){
		$('#perfumes_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#perfumes_form').submit();
	});
	$('#jo_btn').click(function(){
		$('#perfumes_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#perfumes_form').submit();
	});
	$('#maison_btn').click(function(){
		$('#perfumes_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#perfumes_form').submit();
	});
	$('#santa_btn').click(function(){
		$('#perfumes_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#perfumes_form').submit();
	});
	$('#goutal_btn').click(function(){
		$('#perfumes_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#perfumes_form').submit();
	});
	
	/* body_form */
	$('#aesop_btn').click(function(){
		$('#body_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#body_form').submit();
	});
	$('#jo_btn').click(function(){
		$('#body_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#body_form').submit();
	});
	$('#maison_btn').click(function(){
		$('#body_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#body_form').submit();
	});
	$('#santa_btn').click(function(){
		$('#body_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#body_form').submit();
	});

	/* candle_form */
	$('#aesop_btn').click(function(){
		$('#cand_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#cand_form').submit();
	});
	$('#jo_btn').click(function(){
		$('#cand_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#cand_form').submit();
	});
	$('#maison_btn').click(function(){
		$('#cand_form').attr({
			'method':'get',
			'action':'/shop'
		});
		$('#cand_form').submit();
	});
	
	
	
});
		

	</script>

    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>


        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Catagories</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                    <form id="perfume_form">
                        <li class="active"><a href="#">Perfumes</a>
                        	<ul>
                        		<li><a id="aesop_btn" href="/per_aesop">Aesop</a></li>
                        		<li><a id="jo_btn" href="/per_jomalone">Jo malone</a></li>
                        		<li><a id="maison_btn" href="/per_maison">Maison Margiela</a></li>
                        		<li><a id="santa_btn" href="/per_santa">SantaMaria Novella</a></li>
                        		<li><a id="goutal_btn" href="/per_goutal">Goutal Paris</a></li>
                        	</ul>           
                        </li>
                    </form>
                    
                    <form id="body_form">
                        <li class="active"><a href="#">Body & Hand</a>
	                        <ul>
	                        		<li><a id="aesop_btn" href="/body_aesop">Aesop</a></li>
	                        		<li><a id="jo_btn" href="/body_jomalone">Jo malone</a></li>
	                        		<li><a id="maison_btn" href="/body_maison">Maison Margiela</a></li>
	                        		<li><a id="santa_btn" href="/body_santa">SantaMaria Novella</a></li>
	                        </ul>
                        </li>
                    </form>
                    
                    
                    <form id="cand_form">
                        <li class="active"><a href="#">Candle & Diffuser</a>
	                        <ul>
	                        		<li><a id="aesop_btn" href="/cand_aesop">Aesop</a></li>
	                        		<li><a id="jo_btn" href="/cand_jomalone">Jo malone</a></li>
	                        		<li><a id="masion_btn" href="/cand_maison">Maison Margiela</a></li>
	                        </ul>
                        </li>
					</form>
                        
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget color mb-50">
                
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget price mb-50">
                
            </div>
        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p>Showing 1-8 0f 25</p>
                                <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                    <p>Sort by</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortBydate">
                                            <option value="value">Date</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Popular</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="view-product d-flex align-items-center">
                                    <p>View</p>
                                    <form action="#" method="get">
                                        <select name="select" id="viewProduct">
                                            <option value="value">12</option>
                                            <option value="value">24</option>
                                            <option value="value">48</option>
                                            <option value="value">96</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				<!-- shop Start -->
                <div class="row">

                    <!-- Single Product Area -->
                    <div th:each="sh:${shoplist}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/all/'+${sh.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/all/'+${sh.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${sh.price}" class="product-price"></p>
                                    <a th:text="${sh.name}" th:href="@{/product_details(itemid=${sh.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
            </div>
            <!-- shop End -->


				<!-- perfumes_aesop Start -->
                <div class="row">

                    <!-- Single Product Area -->
                    <div th:each="it:${aesoplist}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/aesop/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/aesop/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price">&#8361;</p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				
                    
            </div>
            <!-- perfumes_aesop End -->
            
            
            <!-- perfumes_jomalone -->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${jolist}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/jomalone/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/jomalone/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
            </div>
            <!-- perfumes_jo End -->
            
            <!-- perfumes_maison Start -->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${maslist}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/maison/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/maison/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
            </div>
            <!-- perfumes_masion End -->
            
            <!-- perfumes_Santa Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${sanlist}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/santa/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/santa/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
            </div>
            <!-- perfumes_masion End -->
            
            <!-- perfumes_goutal Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${golist}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/goutal/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/goutal/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- perfumes_masion End -->
            
            <!-- body_aesop Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${aesopbody}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/aesop/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/aesop/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- body_aesop End -->
            
            <!-- body_jo Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${jobody}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/jomalone/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/jomalone/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- body_jo End -->
            
            <!-- body_masion Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${mabody}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/maison/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/maison/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- body_masion End -->
            
            <!-- body_santa Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${santabody}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/santa/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/santa/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- body_santa End -->
            
            <!-- candle_aesop Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${aesopcand}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/aesop/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/aesop/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- candle_aesop End -->
            
            <!-- candle_jo Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${jocand}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/jomalone/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/jomalone/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- candle_jo End -->
            
            <!-- candle_masion Start-->
            <div class="row">
                    <!-- Single Product Area -->
                    <div th:each="it:${maisoncand}" class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="'img/maison/'+${it.img}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="'img/maison/'+${it.img}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p th:text="'&#8361; '+${it.price}" class="product-price"></p>
                                    <a th:text="${it.name}" th:href="@{/product_details(itemid=${it.itemid})}">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
            </div>
            <!-- candle_jo End -->
            
            
            
            
            
            
            
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->


</html>