<script>

$(document).ready(function(){
	$('#savereview_btn').click(function(){
		var custid = '[[${session.logincust.custid}]]';
		var itemid = $('#itemid').text();
		var star = $('#star').val();
		var dsat = $('#dsat').val();
		var reviewtext = $('#review_text').val();
		location.href="/registerreview?custid="+custid+"&itemid="+itemid+"&reviewtext="+reviewtext+"&star="+star+"&dsat="+dsat;
	});
	
	
});

</script>

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>질문에 대해 빠른 답변 드릴 수 있도록 하겠습니다:)</h2>
                    </div>

                    <form id="review_form" method="post">
                        <div class="row">
                            <div class="col-12 mb-3">
                            	<input type="text" class="form-control" id="company" placeholder="제목을 입력해주세요." value="">
                            </div>
                            <div class="col-12 mb-3">
                                <textarea id="review_text" name="comment" class="form-control w-100" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                        </div>
                    </form>
                    <button id="savereview_btn" type="button" class="btn btn-default">질문 등록</button>
                </div>
            </div>
        </div>
    </div>
</div>