<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>소중한 리뷰 감사합니다 :)</h2>
                    </div>

                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <input type="text" class="form-control" id="revie_title" value="" placeholder="제목을 입력해 주세요." required>
                            </div>
                            <div class="col-2 mb-3">제품 만족도</div>
                            <div class="col-4 mb-3">
                                <select class="w-100" id="country">
                                <option value="usa"></option>
                                <option value="100">★★★★★</option>
                                <option value="80">★★★★</option>
                                <option value="60">★★★</option>
                                <option value="40">★★</option>
                                <option value="20">★</option>
                            </select>
                            </div>
                            <div class="col-2 mb-3">배송 만족도</div>
                            <div class="col-4 mb-3">
                                <select class="w-100" id="country">
                                <option value="usa"></option>
                                <option value="100">★★★★★</option>
                                <option value="80">★★★★</option>
                                <option value="60">★★★</option>
                                <option value="40">★★</option>
                                <option value="20">★</option>
                            </select>
                            </div>
                            <div class="col-12 mb-3">
                                <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                    <button id="savereview_btn" type="button" class="btn btn-default">리뷰 저장</button>
                </div>
            </div>
        </div>
    </div>
</div>