<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.mapper.ItemMapper">
	
	<select id="select" parameterType="Integer" resultType="itemDTO">
		SELECT * FROM item WHERE itemid=#{itemid}
	</select>
	<select id="selectall" resultType="itemDTO">
		SELECT * FROM item
	</select>
	<insert id="insert" parameterType="itemDTO">
		INSERT INTO item VALUES (NULL,#{name},#{price},#{imgname},NOW())
	</insert>
	<update id="update" parameterType="itemDTO">
		UPDATE item SET name=#{name}, price=#{price}, img=#{img}, stock=#{stock} WHERE itemid=#{itemid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM item WHERE id=#{id}
	</delete>
	<select id="itemall" parameterType="Integer" resultType="itemDTO">
		SELECT itemid, cateid, name, price, img, itemdate, stock, detail_img FROM item
		WHERE cateid = #{cateid}
	</select>
	<select id="bestitem" resultType="itemDTO">
		SELECT SUM(oi.cnt), it.itemid, it.name, it.img, oi.cnt, it.price, (SUM(oi.cnt) * it.price) AS total FROM item it
		INNER JOIN orderinfo oi ON it.itemid = oi.itemid
		GROUP BY it.itemid, oi.cnt
		ORDER BY SUM(oi.cnt) DESC LIMIT 3
	</select>

	
	
</mapper>