<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.mapper.PayMapper">
	
	<select id="select" parameterType="Integer" resultType="PayDTO">
		SELECT * FROM pay WHERE payid=#{payid}
	</select>
	<select id="selectall" resultType="PayDTO">
		SELECT * FROM pay
	</select>
	<insert id="insert" parameterType="PayDTO">
		INSERT INTO pay VALUES (NULL,#{custid},#{orderid},#{paystatus},#{pay})
	</insert>
	<update id="update" parameterType="PayDTO">
		UPDATE pay SET custid=#{custid}, orderid=#{orderid}, paystatus=#{paystatus}, pay=#{pay}, WHERE payid=#{payid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM pay WHERE payid=#{payid}
	</delete>
	<select id="getpay" parameterType="String" resultType="PayDTO">
		SELECT cp.coupon_name, cu.custid, it.img, pa.payid, pa.orderid, cu.name AS custname,
		cu.phone, cu.addr, po.detail_addr, po.zipcode,
		it.name AS itemname, ca.cnt, it.price, (it.price * ca.cnt) AS order_price,
		((it.price * ca.cnt) - ((it.price * ca.cnt)*(cp.rate/100))) AS total_price FROM pay pa
		INNER JOIN cust cu ON pa.custid = cu.custid
		INNER JOIN coupon cp ON cu.custid = cp.custid
		INNER JOIN cart ca ON pa.custid = ca.custid
		INNER JOIN item it ON ca.itemid = it.itemid
		INNER JOIN post po ON cu.custid = po.custid
		WHERE pa.custid = #{custid}
	</select>
	
	
</mapper>